[[source]]
url = "https://mirrors.aliyun.com/pypi/simple"
verify_ssl = true
name = "aliyun"

[packages]

[dev-packages]
black = "==21.8b0"
django = ">=2.2.12"
djangorestframework = ">=3.11.0"
flake8 = ">=3.5.0"
isort = ">=5.6.4"
pipenv = ">=2018.11.26"
pymongo = ">=3.4.0"
pytest = ">=5.4.0"
twine = "*"
wheel = "*"

[requires]
python_version = "3"
