name: Build

on: push

jobs:
  Build:
    name: Build
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        python-version: [ 3.5, 3.6, 3.7, 3.8 ]
    steps:
      - uses: actions/checkout@v2

      - name: Set up python ${{ matrix.python-version }}
        with:
          python-version: ${{ matrix.python-version }}
        uses: actions/setup-python@v1

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip pipenv
          pipenv sync
          pipenv run pip install pytest

      - name: Run Tests
        run: |
          pipenv run pytest

          pipenv sync --dev
          pipenv run pytest

          pipenv run flake8 hutils tests setup.py

      - name: Check code style
        if: matrix.python-version == 3.7
        run: |
          pipenv run black -l 120 -t py35 -t py36 -t py37 -t py38 --check hutils tests
